# ビルド成果物
*.d
*.slo
*.lo
*.o
*.obj
*.gch
*.pch
*.so
*.dylib
*.mod
*.smod
*.lai
*.la
*.a
*.exe
*.out
*.app

# Visual Studio
.vs/
*.user
*.suo
*.aps
*.ncb
*.sdf
*.opensdf
ipch/

# ビルドフォルダ
x64/
x86/
Release/
Log.txt
imgui.ini

